{
	"tabWidth": 2,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": [
				"*.{ts,tsx}"
			],
			"options": {
				"parser": "typescript"
			}
		}
	]
}
