.button {
	color: var(--text-color);
	cursor: pointer;
	transition: background 0.125s, color 0.125s;
	padding: 0.5em;
	border-radius: var(--roundness);
	background: var(--sub-alt-color);
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	align-content: center;
	height: min-content;
	height: -moz-min-content;
	line-height: 1.25em;
	appearance: none;
	border: none;
	font-family: inherit;
	font-size: 1em;

	&.active {
		background: var(--main-color);
		color: var(--bg-color);
		&:hover {
			background: var(--text-color);
		}
		&:active {
			background: var(--sub-color);
			color: var(--bg-color);
		}
	}

	&.disabled {
		opacity: 0.33;
		cursor: default;
		pointer-events: none;
		&:hover {
			background: var(--text-color);
			outline: none;
		}
		&:active {
			background: var(--sub-color);
			color: var(--bg-color);
		}
	}

	&:hover {
		color: var(--bg-color);
		background: var(--text-color);
		outline: none;
	}
	&:focus {
		box-shadow: 0 0 0 0.15em var(--text-color);
		// outline: 2px solid var(--text-color);
	}
	&:active {
		background: var(--sub-color);
		color: var(--bg-color);
	}
}
