.key {
	color: var(--bg-color);
	background-color: var(--sub-color);
	/* font-weight: bold; */
	padding: 0.1rem 0.3rem;
	margin: 0rem 0.5rem;
	border-radius: 0.1rem;
	display: inline-block;
	font-size: 0.7rem;
	line-height: 0.7rem;
}
